 @import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&family=Source+Sans+3:wght@400;500&display=swap');

 * {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
 }
a{
  text-decoration: none !important;
}
.container{
  padding: 0px 20px !important;
}
/* Navbar */
.collapse:not(.show) {
  display: none
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color:#FBF8F8 !important;
  padding: 20px 0px !important;
}


.navbar>.container,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.get-sarted{
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00) ;
  padding: 15px 30px;
  color: white;
  border-radius: 50px;
}
@media (min-width:576px) {
  .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: flex-start
  }

  .navbar-expand-sm .navbar-nav {
      flex-direction: row
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute
  }

  .navbar-expand-sm .navbar-nav-scroll {
      overflow: visible
  }

  .navbar-expand-sm .navbar-collapse {
      display: flex;
      flex-basis: auto
  }

  .navbar-expand-sm .navbar-toggler {
      display: none
  }

  .navbar-expand-sm .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto;
      height: auto;
      visibility: visible;
      background-color: transparent;
      border: 0;
      transform: none;
      transition: none
  }

  .navbar-expand-sm .offcanvas .offcanvas-header {
      display: none
  }

  .navbar-expand-sm .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible
  }
}

@media (min-width:768px) {


  .navbar-expand-md .navbar-nav {
      flex-direction: row
  }

  .navbar-expand-md .navbar-collapse {
      display: flex;
      flex-basis: auto
  }

  .navbar-expand-md .navbar-toggler {
      display: none
  }
}

.navbar-area {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 9px;
  width: 100%;
  z-index: 999;
  height: auto;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-area.scrolled {
  transform: translateY(-100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}




.navbar-area nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none
}

.navbar-area nav .navbar-brand {
  font-weight: 700;
  font-size: 28px
}

.navbar-area nav .navbar-nav {
  margin-left: auto
}

.navbar-area nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 12px
}

.navbar-area nav .navbar-nav .nav-item a {
  color: #18181b;
  text-transform: capitalize;
  position: relative;
  font-weight: 500;
  font-size: 15px;
  padding: 0
}

.navbar-area nav .navbar-nav .nav-item a:before {
  bottom: -5px;
  width: 0;
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
  height: 3px;
  transition: all .5s ease;
  left: 1px;
  content: "";
  position: absolute
}
.navbar-brand:hover{
  color: #f9004d !important;
}
.navbar-area nav .navbar-nav .nav-item a.active,
.navbar-area nav .navbar-nav .nav-item a:focus,
.navbar-area nav .navbar-nav .nav-item a:hover {
  color: #18181b
}

.navbar-area nav .navbar-nav .nav-item a.active:before,
.navbar-area nav .navbar-nav .nav-item a:focus:before,
.navbar-area nav .navbar-nav .nav-item a:hover:before {
  width: 60%
}

.navbar-area nav .navbar-nav .nav-item a i {
  font-size: 15px;
  position: relative;
  top: 1px;
  display: inline-block;
  margin-left: 2px
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
  background: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  border: none;
  display: block;
  width: 250px;
  z-index: 99;
  opacity: 0;
  border-radius: 5px;
  visibility: hidden;
  transition: all .3s ease-in-out;
  padding: 20px 5px
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li {
  position: relative;
  padding: 7px 15px
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li a {
  display: inline-block;
  font-size: 14px;
  color: #18181b;
  font-weight: 500
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li a:before {
  display: none
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li a.active,
.navbar-area nav .navbar-nav .nav-item .dropdown-menu li a:focus,
.navbar-area nav .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #ff2c9c
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  position: absolute;
  left: 220px;
  top: 0;
  opacity: 0;
  visibility: hidden
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #18181b
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active,
.navbar-area nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.navbar-area nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover {
  color: #ff2c9c
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -20px
}

.navbar-area nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%
}

.navbar-area nav .navbar-nav .nav-item .mega-dropdown-menu {
  width: 500px;
  padding: 0 10px 5px
}

.navbar-area nav .navbar-nav .nav-item .mega-dropdown-menu .nav-item {
  width: 50%;
  float: left
}

.navbar-area nav .navbar-nav .nav-item .mega-dropdown-menu .nav-item a {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  display: block
}

.navbar-area nav .navbar-nav .nav-item .mega-dropdown-menu .nav-item a:last-child {
  border-bottom: none
}

.navbar-area nav .others-options {
  padding: 0;
  margin: 0 0 0 10px;
  list-style-type: none
}

.navbar-area nav .others-options .btn {
  border-radius: 50px;
  padding: 11px 20px;
  font-size: 14px
}

.navbar-area nav .others-options .btn:before {
  border-radius: 50px
}

.navbar-area.navbar-style-two {
  padding-left: 55px;
  padding-right: 55px
}

.navbar-area.navbar-style-two nav .navbar-nav {
  margin-left: 150px;
  transition: all .5s ease
}

.navbar-area.navbar-style-two nav .others-options {
  margin: 0
}

.navbar-area.navbar-style-two nav .others-options .btn {
  color: #fff;
  border-color: #fff
}

.navbar-area.navbar-style-two nav .others-options .btn:focus,
.navbar-area.navbar-style-two nav .others-options .btn:hover {
  border-color: #ff2c9c;
  background: transparent
}

.navbar-area.navbar-style-two.is-sticky .others-options .btn {
  color: #ff2c9c;
  border-color: #ff2c9c
}

.navbar-area.navbar-style-two.is-sticky .others-options .btn:focus,
.navbar-area.navbar-style-two.is-sticky .others-options .btn:hover {
  border-color: #ff2c9c;
  color: #fff
}

.navbar-area.navbar-style-two.is-sticky nav .navbar-nav {
  margin-left: auto;
  margin-right: auto
}

.navbar-area.navbar-style-three {
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 15px
}

.navbar-area.navbar-style-three nav .navbar-nav {
  margin-left: auto;
  margin-right: auto
}

.navbar-area.navbar-style-three nav .others-options {
  margin: 0
}

.navbar-area.navbar-style-four {
  position: relative;
  padding-bottom: 15px
}

.navbar-area.navbar-style-four nav .navbar-nav {
  margin-left: auto
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2px;
  padding-top: 2px;
  z-index: 999;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
  background-color: #fff;
  animation: fadeInDown .5s ease-in-out 0s 1 normal none running
}

.navbar-area.navbar-style-2 nav .navbar-brand {
  color: #fff
}

.navbar-area.navbar-style-2 nav .navbar-brand .black-logo {
  display: none
}

.navbar-area.navbar-style-2 nav .navbar-nav .nav-item {
  padding-left: 15px;
  padding-right: 15px
}

.navbar-area.navbar-style-2 nav .navbar-nav .nav-item a {
  color: #fff
}

.navbar-area.navbar-style-2.is-sticky .navbar-brand {
  color: #18181b
}

.navbar-area.navbar-style-2.is-sticky .navbar-brand .black-logo {
  display: block
}

.navbar-area.navbar-style-2.is-sticky .navbar-brand .white-logo {
  display: none
}

.navbar-area.navbar-style-2.is-sticky .navbar-nav>.nav-item>a {
  color: #18181b
}


.navbar-area.navbar-style-3 .container {
  max-width: 1365px
}

.navbar-area.bg-white {
  padding: 10px 0
}

.navbar-area.dark-navbar {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px
}

.navbar-area.dark-navbar .navbar-nav .nav-item a,
.navbar-area.dark-navbar .navbar-nav .nav-item a.active,
.navbar-area.dark-navbar .navbar-nav .nav-item a:focus,
.navbar-area.dark-navbar .navbar-nav .nav-item a:hover {
  color: #fff
}

.navbar-area.dark-navbar.is-sticky {
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #000
}

.navbar-toggler {
  border: none;
  background: #eee;
  padding: 10px;
  border-radius: 0
}

.navbar-toggler:focus {
  box-shadow: none
}

.navbar-toggler .icon-bar {
  width: 28px;
  transition: all .3s;
  background: #ff2c9c;
  height: 2px;
  display: block
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  left: 4px;
  position: relative
}

.navbar-toggler .middle-bar {
  opacity: 0;
  margin: 6px 0
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  left: 4px;
  position: relative
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  left: 0
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  left: 0
}


/* 'new' banner sticker in navbar dropdown menu */
span.new {
  position: absolute;
  background: #f9004d;
  color: #fff;
  font-weight: 400;
  padding: 1px 5px;
  font-size: 8px;
  border-radius: 30px;
  top: 7px
}




/* hero-section*/

.center {
  text-align: center;
  background-color: #FBF8F8;
  padding: 90px 20px;
}

.hero-main {
  max-width: 70%;
  margin: auto;
}

.hero-main > img {
  width: 15%;
  height: 170px;
  border-radius: 50%;
  border: 3px solid #FA588A;
}

.hero-main h1 {
  font-family: 'Saira', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #18181b;
}

.web-hero {
  color: #f9004d !important;
}

.hero-main p {
  font-size: 14px;
  line-height: 20px;
  color: #646464;
  font-family: 'Source Sans 3', sans-serif;
  margin-top: 23px;
}

.social-link a > i {
  color: #646464;
  background-color: #EBEBEB;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.social-link a > i:hover {
  background-color: #f9004d;
  color: white;
  transition: all 0.5s ease-in;
}

.contact-me {
  background-color: #f9004d !important;
  box-shadow: none !important;
  border: none !important;
  margin-top: 27px;
  padding: 10px 25px !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.contact-me:hover {
  background-color: #18181b !important;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .hero-main {
    max-width: 90%;
  }

  .hero-main > img {
    width: 30%;
    height: auto;
  }

  .hero-main h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .hero-main p {
    font-size: 12px;
    line-height: 18px;
  }
}
/* all-project */
/* Add the following styles to your existing CSS file or create a new one */

.all-project {
  background-color: transparent;
  margin: 30px 0;
  font-family: 'Saira', sans-serif;
  font-size: 2.5rem;
  color: #18181b;
  text-align: center;
}

.all-card {
  width: 95%;
  margin: 15px auto;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card-title {
  font-family: 'Saira', sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
  margin-top: 20px;
}

.card-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #f9004d;
  line-height: 1.5rem;
}

.card-title a {
  background-color: #f9004d;
  color: white;
  float: right;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 8px;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .all-project {
    font-size: 2rem;
  }

  .card-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .card-content {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .card-title a {
    font-size: 0.9rem;
  }

  @media (max-width: 992px) {
    .all-card {
      width: 48%; /* Two cards in a row for tablets */
    }
  }

  @media (max-width: 768px) {
    .all-project {
      font-size: 1.5rem;
    }

    .all-card {
      width: 100% !important; /* One card in a row for mobile */
    }

    .card-title {
      font-size: 1rem;
      line-height: 1.3rem;
    }

    .card-content {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }

    .card-title a {
      font-size: 0.8rem;
    }
  }
}

/* slider */
/* Add these styles to your existing CSS */

.slider-bg {
  position: relative;
  width: 100%;
  overflow: hidden;
}



.slide-content {
  max-width: 70%;
  margin: auto;
  color: #18181b;
  margin-bottom: 130px;
  font-size: 20px;
  font-family: 'sans-serif';
  text-align: center; /* Center the content */
}

.slide-title{
  color: #18181b;
  font-family: 'Open Sans';
  font-size: 24px;
  text-align: center; /* Center the title */
  margin-bottom:10px;
}
.slider-manege{
  margin-bottom:200px !important ;
}
.slide-des {
  color: #18181b;
  font-size: 18px;
  text-align: center; /* Center the description */
}
.carousel-indicators [data-bs-target]{
  color:  black !important;
}
/* Additional styles for smaller screens */
@media (max-width: 768px) {
  .slide-content {
    max-width: 100%; /* Adjust max-width for smaller screens */
    font-size: 15px;
    margin-bottom: 0px;
  
  }
.slider-manege{
  margin-bottom:10px !important;
}
  .slide-title{
    font-size: 12px !important;
    padding: 0px;
    margin: 0px;
  }
  .slide-des {
    font-size: 12px;
    padding: 0px;
    margin-top: 0px;
  }
}

 /* Email.css */

 .containerStyle {
  position: relative;
  text-align: center;
  margin-top: 50px; /* Adjust margin-top based on your design */
}

.containerStyle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00, rgba(0, 0, 0, 0.5));
  z-index: 1;
  opacity: 0.9;
}

.textStyle {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-20%, -20%);
  z-index: 2;
  padding: 20px;
  color: white;
}

.textStyle p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.change-work {
  line-height: 1.2;
  font-size: 4vw; /* Responsive font size */
  margin-bottom: 20px;
}

.email-main {
  position: relative;
  z-index: 2;
  margin-top: 20px; /* Adjust margin-top based on your design */
}

.form-control {
  border-radius: 0;
  color: #000;
  border-radius: 30px 0px 0px 30px !important;
  padding: 15px !important;
}

.input-button {
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
  color: white !important;
  border: none !important;
  border-radius: 0px 30px 30px 0px !important;
  padding: 15px 30px !important;
  font-family: "Open Sans", sans-serif !important;
  border: 5px solid white !important;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .textStyle p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
    
  }
.textStyle{
  left: 15%;
  top: 3%;
  transform: translate(-5%, -5%);
}
  .change-work {
    font-size: 3vw;
    line-height: 1v;
    margin-top: 0px;
  
  }

  .email-main {
    margin-top: 10px;
  }
  .form-control{
    padding: 5px 15px !important;
    font-size: 10px !important;
  }
  .input-button{
    padding: 5px !important;
    font-size: 10px !important;
  }
}

 /* ready to work */
 .readycontainerStyle {
  position: relative;
  text-align: center;
  margin-top: 0px;
}

.readycontainerStyle::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
  z-index: 1;
  opacity: .95;
}

.readytextStyle {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  color: white;
  max-width: 80%; /* Adjust max-width for smaller screens */
}

.ready-work {
  font-family: Saira, sans-serif;
  font-size: 5vw; /* Responsive font size */
  line-height: 1.2;
  color: white;
  max-width: 70%;
  margin: auto;
}

.bg-next {
  font-family: "Open Sans", sans-serif;
  font-size: 3vw; /* Responsive font size */
  line-height: 1.5;
  color: white;
}

.contact {
  background-color: white !important;
  color: #f9004d !important;
  padding: 2vh 5vw !important; /* Responsive padding */
  border: none !important;
  margin-top: 5vh !important; /* Responsive margin */
}

.contact:hover {
  background-color: #000000 !important;
  color: white !important;
  transition: all 0.5s ease-in;
}

/* Additional styles for smaller screens */
@media (max-width: 768px) {
  .readytextStyle {
    max-width: 100%; /* Adjust max-width for smaller screens */
  
  }
  
  .ready-work {
    font-size: 5vw; /* Responsive font size for smaller screens */
  
  }

  .bg-next {
    font-size: 4vw; /* Responsive font size for smaller screens */
    margin-top: 10px;
    margin-bottom:0px ;
    
  }

  .contact {
    padding: 1vh 4vw !important; /* Responsive padding for smaller screens */
    margin-top:5px !important;
  }
}

/*footer*/
.footer-area {
  background-color: #f6f9fc;
  padding-top: 100px;
  position: relative;
  z-index: 1
}

.single-footer-widget .logo {
  margin-bottom: 20px
}

.single-footer-widget .logo a {
  font-size: 24px;
  font-weight: 700;
  color: #18181b
}

.single-footer-widget .social-links {
  padding: 0;
  margin: 20px 0 0;
  list-style-type: none
}

.single-footer-widget .social-links li {
  display: inline-block;
  margin-right: 2px
}

.social-icons  i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #4a4a4a;
  border-radius: 50%;
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 12px;
  margin-right: 5px;
}

.social-icons i:hover {
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
  border-radius: 50%;
  transition: all .5s ease;

}



.single-footer-widget .social-links li:last-child {
  margin: 0
}

.single-footer-widget h3 {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 24px;
  font-weight: 600
}

.single-footer-widget h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 55px;
  height: 3px;
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00)
}

.single-footer-widget h3:after {
  content: "";
  position: absolute;
  left: 35px;
  bottom: -2px;
  height: 3px;
  background: #f6f9fc;
  width: 5px
}

.single-footer-widget ul.list {
  margin: 0;
  list-style-type: none;
  padding: 0
}

.single-footer-widget ul.list li {
  margin-bottom: 12px
}

.single-footer-widget ul.list li a {
  position: relative;
  color: #646464
}

.single-footer-widget ul.list li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
  width: 10px;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease
}
.get-in-touch span{
  color: #646464;
  font-size: 15px;
}
.single-footer-widget ul.list li a:focus,
.single-footer-widget ul.list li a:hover {
  color: #ff2c9c;
  padding-left: 15px
}

.single-footer-widget ul.list li a:focus:before,
.single-footer-widget ul.list li a:hover:before {
  opacity: 1;
  visibility: visible
}

.single-footer-widget ul.list li:last-child {
  margin-bottom: 0
}

.single-footer-widget ul.get-in-touch {
  padding: 0;
  margin: 0;
  list-style-type: none
}

.single-footer-widget ul.get-in-touch li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 10px
}

.single-footer-widget ul.get-in-touch li:first-child {
  margin-bottom: 15px
}

.single-footer-widget ul.get-in-touch li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
  border-radius: 50%;
  text-align: center;
  margin-left:-30px ;
  margin-right:15px ;
  margin-bottom: 10px;
}



.single-footer-widget ul.get-in-touch li a:focus,
.single-footer-widget ul.get-in-touch li a:hover {
  color: #ff2c9c
}

.single-footer-widget ul.get-in-touch li:last-child {
  margin-bottom: 0
}

.copyright-area {
  background-color: #000;
  text-align: center;
  margin-top: 95px;
  padding-top: 30px;
  padding-bottom: 30px
}

.copyright-area p {
  color: #fff;
  font-size: 15px
}

.copyright-area p a {
  display: inline-block;
  color: #ff2c9c
}

.copyright-area p a:focus,
.copyright-area p a:hover {
  text-decoration: underline
}

/* 'new' banner sticker in navbar dropdown menu */
span.new {
  position: absolute;
  background: #f9004d;
  color: #fff;
  font-weight: 400;
  padding: 1px 5px;
  font-size: 8px;
  border-radius: 30px;
  top: 7px
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .single-footer-widget {
    margin-bottom: 40px;
  }

  .single-footer-widget .social-links {
    text-align: center;
  }

  .single-footer-widget ul.list li,
  .single-footer-widget ul.get-in-touch li {
    padding-left: 0;
  }

  .single-footer-widget h3:before,
  .single-footer-widget h3:after {
    display: none;
  }

  .single-footer-widget ul.list li a:before {
    width: 0;
  }

  .single-footer-widget ul.get-in-touch li i {
    margin-left: 0;
    margin-right: 10px;
  }

  .copyright-area {
    margin-top: 40px;
  }
}